<!-- Llamar al componente hijo Cabecero -->
<app-cabecero
	[presupuestoTotal]="getPresupuestoTotal()"
	[ingresoTotal]="getIngresoTotal()"
	[egresoTotal]="getEgresoTotal()"
	[porcentajeTotal]="getPorcentajeTotal()"
></app-cabecero>

<!-- Llamar al componente hijo Formulario -->
<app-formulario></app-formulario>

<div class="contenedor limpiarEstilos">
	<!-- Llamar al componente hijo Ingreso -->
	<app-ingreso></app-ingreso>

	<!-- Llamar al componente hijo Egreso -->
	<app-egreso></app-egreso>
</div>
