<div class="cabecero">
  <div class="presupuesto">
    <div class="presupuesto_titulo">
      Presupuesto Disponible:
    </div>

    <div class="presupuesto_valor">+ 2,345.64</div>

    <div class="presupuesto_ingreso limpiarEstilos">
      <div class="presupuesto_ingreso--texto">Ingresos</div>
      <div class="right">
        <div class="presupuesto_ingreso--valor">+ 4,300.00</div>
        <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
      </div>
    </div>

    <div class="presupuesto_egreso limpiarEstilos">
      <div class="presupuesto_egreso--text">Egresos</div>
      <div class="right limpiarEstilos">
        <div class="presupuesto_egreso--valor">- 1,954.36</div>
        <div class="presupuesto_egreso--porcentaje">45%</div>
      </div>
    </div>
  </div>
</div>
